@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@200;300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  width: 100%;
  padding: 0 10px;
}

body::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: url("/img/jpg/notfound.jpg"), #000;
  background-position: center;
  background-size: cover;
}

.wrapper {
  padding: 30px;
  text-align: center;
  backdrop-filter: blur(0px);
  -webkit-backdrop-filter: blur(0px);
}

h2 {
  font-size: 3rem;
  margin-bottom: 20px;
  color: #000;
}

.botones-fin {
  display: flex;
  justify-content: center;
  padding: 15px;
  margin-top: 35px;
}

.botones-fin svg {
  width: 2.5vw;
  height: 2.5vw;
  cursor: pointer;
}